.button {
  float: right;
  position: relative;
  margin-right:30px;
  background: white;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  font-style: italic;
}

.body {
  background-color: #000000;            /* 背景色 */
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
}

.background-img{
  text-align: center;
  width: 100%;
}

.col-md-8 {
  font-style: italic;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
}

.footer-title-area {
  margin-top: 30px;
  margin-bottom: 00px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #fff;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  font-style: italic;
}

.footer-navigation {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
}

.footer-navigation:after {
  position: relative;
  left: -50%;
  float: left;
}

.footer-navigation li {
  display:inline-block;
  text-align: center;
  list-style-type: none;
}

.footer-navigation li a {
  display:inline-block;
  text-decoration: none;
  margin:30px;
  padding: 0.5em 1em;
  color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  font-style: italic;
}

.header {
  margin-top: auto;
  color: #fff;
  font-style: italic;
}

.form-group row{
  text-align: center;
}

.row {
  font-style: italic;
  color: #FFFFFF;
  padding: 0px 0px;
  zoom: 125%
}

.box1{
  display:block;
  text-align: center;
  position: absolute;
  font-style: italic;
  width: 150px;
  height: 50px;
  top: 50;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; 
}

.zodiactext{
  display:block;
  text-align: center;
  position: absolute;
  font-style: italic;
}

.box2{
  margin: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-left: -50%;
}
.box3{
  zoom: 200%
}

.box4{
  zoom: 200%
}

.box5{
  float: right;
  position: relative;
  margin-right:300px;
}
